.product {
    background-color: rgb(188, 110, 110);
    border: 2px solid bisque;
    margin-bottom: 12px;

    display: inline-block;
    width: 300px;
    height: 340px;
    border-radius: 3px;
    margin: 0 7px 12px 0;
    vertical-align: top;
}

.product h6{
    font-size: 22px;
    font-family: monospace;
    margin: 0;
}