.quantityPicker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityPicker button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}

.quantity-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1rem;
}

@media (max-width: 767px) {
    .quantityPicker {
        flex-direction: column;
    }

    .quantityPicker button {
        margin: 0.5rem 0;
    }

    .quantity-label {
        margin: 0.5rem 0;
    }
}

/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .quantityPicker {
        /* Add styles for medium screens if needed */
        font-size: 16px;
        color:black;
    }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
    .quantityPicker {
        /* Add styles for large screens if needed */
        font-size: 18px;
        color: black;
    }
}